:root{
    --colorTitulos:#D95970;
    --colorSubtitulos: #F28D9F;
    --ColorTexto: #999FBF;
    --ColorA:#C4D9BF;
    --ColorB:#C6D984;
    --ColorC:#27403B;
    --ColorD:#328C7C;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body{
    font-size: 1.6rem;
    line-height: 2;
    background-color: var(--ColorA);
}

.contenedor{
    width: min(90%, 120rem);
    margin: 0 auto;
}

.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  .dancing-script{
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  }


  @media(min-widht: 768px){
    .barra{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    }
    
    h1, h2, h3, h4 {
        color: var(--ColorC);
    }
a{
    text-decoration: none;
}
h1{
    font-size: 4.8rem;
}
h2{
    font-size: 4rem;
}
h3{
    font-size: 3.5rem;
}
h4{
    font-size: 3rem;
}
img{
    max-width: 100%;
}
/** etiqueta de utilidad margin para dejar todo en cero**/
.no-margin{
    margin: 0%;
}
.no-padding{
    padding: 0%;
}
.centrar-texto{
    text-align: center;
}
/**header**/
.header{

background-image: url(./R.jpg);
height: 60rem;
background-size: cover;
background-repeat: no-repeat;
background-position: center center;
}
.header_texto{
    text-align: center;
    color: var(--colorTitulos);
    margin-top: 5rem;
}

@media (min-width: 768px) {
    .header__texto {
        margin-top: 15rem;
    }}

.barra{
    padding-top: 4rem;
}
@media (min-width: 768px) {
    .barra{
       display: flex;
       justify-content: space-between;
       align-items: center;
    }}

.logo{
    color: var(--ColorD);
}
.logo__nombre{
    font-weight: 400;
}
.logo__bold{
    font-weight: 700;
}
@media (min-width: 768px) {
    .navegacion{
        display: flex;
        gap: 2rem;
    }
}

.navegacion__enlace{
    display: block;
    text-align: center;
    font-size: 1.8rem;
    color: var(--ColorB);
}

@media (min-width: 768px) {
    .contenedor_principal{
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 4rem;
    }
}

.entrada{
    border-bottom: 1px solid var(--ColorD);
    margin-bottom: 2rem;
}
/**falta entrada imagen sidebar **/

.entrada:last-of-type{
    border: none;
    margin-bottom: 0;
}

.boton {
    display: block;
    color: var(--ColorB);
    text-align: center;
    padding: 1rem 3rem;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
    border: none;
}
@media(min-width: 768px){
    .boton{
        display: inline-block;
    }
}
.boton:hover{
    cursor: pointer;
}
.boton--primario{
    background-color: var(--colorSubtitulos);
}
.boton--secundario{
    background-color: var(--ColorD);
}
.clases {
    list-style: none;
}

.widget-clases {
    border-bottom: 1px solid var(--gris);
    margin-bottom: 2rem;
}
.widget-clases:last-of-type {
    border: none;
    margin-bottom: 0;
}
.widget-clases__label {
    font-family: var(--fuenteHeading);
    font-weight: bold;
}
.widget-clases__info {
    font-weight: normal;
}
.widget-clases__label,
.widget-clases__info {
    font-size: 2rem;
}

.footer {
    background-color: var(--ColorB);
    padding-bottom: 3rem;
    margin-top: 4rem;
}
@media (min-width: 768px) {
    .sobre-nosotros {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }
}
/**cursos**/
.cursos{
    padding: 3rem 0;
    border-bottom: 1px solid var(--ColorC);
}